.movieEl {
  border: none;
  margin-bottom: 20px;
  background-color: var(--c4);
}

.movieEl .movie-info {
  background-color: var(--c3);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.movieEl .movie-info h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--cText);
}

.movieEl .movie-info .rating {
  background-color: var(--c1);
  color: white;
  padding: 5px;
  border-radius: 3px;
  align-self: baseline;
}

.movieEl .movie-info .rating {
  font-weight: 500;
}

.movieEl .movie-info .green {
  color: green;
}

.movieEl .movie-info .orange {
  color: orange;
}

.movieEl .movie-info .red {
  color: red;
}



.movieEl .overview{
  padding: 10px;
}

.movieEl .overview h3 {
  font-size: 14px;
  font-weight: 600;
}

.movieEl .overview p {
  font-size: 14px;
}

.movieEl .overview {
  position: relative;
  top: 10px;
}