@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  background-color: var(--c1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* color pallete */
:root {
  --cText: #e8eaed;
  --c4: #D4ECDD;
  --c3: #345B63;
  --c2: #152D35;
  --c1: #112031;
}

/* header */

nav {
  border: none;
}

nav .navbar-brand {
  font-weight: 600;
  font-size: 24px;
}

.banner {
  height: 350px;
  color: var(--cText);
  background: linear-gradient(180deg, rgba(52,91,99,1) 0%, rgba(17,32,49,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner input {
  height: fit-content;
  border-radius: 50px;
  background-color: var(--c1);
  color: var(--cText);
  border: none;
}

.banner input:focus {
  background-color: var(--c4);
  color: var(--c1);
  font-weight: 500;
}
